.nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px; /* Set the width of the navigation bar */
    height: 100%; /* Full height */
    background-color: #333; /* Solid background color */
    overflow-x: hidden; /* Disable horizontal scrolling */
    padding-top: 20px; /* Space from the top */
}

.nav a {
    padding: 15px 10px;
    text-decoration: none;
    font-size: 18px;
    color: white; /* Text color */
    display: block;
}

.nav a:hover {
    background-color: #575757; /* Change background on hover */
}